:root {
       --dark: #221a56;
      --grape: #762d89;
  --raspberry: #b03c94;
  --strawberry: #f03476;
  --marmalade: #ff8b3c;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(135deg, #221a56 13.11%, #762d89 13.11%, #762d89 50%, #221a56 50%, #221a56 63.11%, #762d89 63.11%, #762d89 100%);
  background-size: 1725.34px 1725.34px;
  font-family: 'Grandstander', cursive;
  color: white;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

h1 {
  margin: 1rem;
  font-size: 20px;
  letter-spacing: 2px;
  background-size: 1.2em;
  color: var(--grape);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ably {
  display: block;
  width: 110px;
  height: 40px;
  color: transparent;
  background: url(./public/ably.png) no-repeat center;
  background-size: 110px;
  margin: 10px 1rem;
}

.container {
  display: flex;
  justify-content: center;
}

.debug-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

.debug {
  position: relative;
  display: flex;
  width: 54px;
  height: 30px;
  margin: 1rem;
  float: right;
}

.debug-text {
  position: absolute;
  left: -56px;
  font-weight: bold;
  line-height: 30px;
  color: white;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: var(--dark);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.checkbox:checked + .slider {
  background-color: white;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-color: var(--strawberry);
  box-shadow: -3px 0px 1px var(--dark);
}

.intro {
  display: flex;
  margin: 1rem 0;
  font-size: 1.2em;
  line-height: 1.4rem;
}

.controls {
  width: 100%;
  max-width: 400px;
  margin-left: 2rem;
}

.loading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 40vw;
  max-width: 250px;
  max-height: 250px;
  height: 40vw;
  background: url(./public/spread.gif) no-repeat center;
  background-size: 100%;
  z-index: 5;
  transform: translate(-50%, 0%);
}

.loading::after {
  content: "loading...";
  font-size: 3vw;
  color: white;
  transform: translateY(3vw);
}

.container {
  min-height: 300px;
  position: relative;
  z-index: 2;
}

#game {
  max-width: 1000px;
  margin: 0 auto;
}

.gameactive .loading {
  display: none;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
}

canvas {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 4px var(--dark);
  background-color: #ffe6a4;
}

#scores {
  display: none;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translatex(-50%);
  z-index: 5;
  background-color: black;
  width: 50%;
  height: 550px;
}

.gameover #scores {
  display: block;
}

@media (min-width: 900px) {
  header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 1000px;
    margin: 0 auto 0rem;
  }

  h1 {
    margin: 0;
    padding: 2rem 0 1.6rem;
    padding-left: 4rem;
    font-size: 3rem;
    letter-spacing: 2px;
    color: white;
    background: url(android-chrome-512x512.png) no-repeat -7px 20px;
    background-size: 56px;
  }

  .ably {
    display: block;
    width: 120px;
    height: 3em;
    margin: 0;
    color: transparent;
    background: url(./public/ably.png) no-repeat center;
    background-size: 120px;
  }

  #orientation-warning {
    display: none;
  }

  #orientation-warning .bad-orientation {
    display: block;    
    z-index: 25;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #game {
   height: calc(100vh - 6rem);
  }
}

.gameover #game {
  filter: blur(2px);
}

